.container{
	margin-top: 15%;
}

#heading{
	text-align: center;
	background-color: lightsalmon;
}

#result{
	display:inline;
}

table{
	margin-left: 35%;
	width: 350px;
	height: 200px;
	text-align: center;
}

tr{
	background-color: red;
}

button:hover{
	background-color: lightsalmon;
}

input[type="reset"]:hover{
	background-color: lightsalmon;
}

